html, body, .row {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.row {
    margin: 0;  
}

.navbar { 
    height: 7.5%;
}

.navbar-nav {
    height: 100%;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    color:  #056839;
    height: 100%;
}

.container-fluid {
    height: 100%;
}
.navbutton {
    position: absolute;
    
    right: 0;
    top: 22px;
    margin-right: 24px;
    font-size: 2rem;
}

.nav > ul {
    margin: 0;
    text-decoration: none;
    list-style: none;
    
    display: flex;
    flex-direction: row;
}
.nav > i{
    position: absolute;
    right: 0;
    margin-right: 8%;
    font-size: 2.5rem;
}

ul > li, a {
    color: black;
    margin:0 4px;
    font-family: "Rubik Mono One", monospace;
    font-size: 1rem;
    z-index: 1;
    height: 100%;
}

.content {
    height: 82.5%;

    display: grid;
    place-content: center;
    text-align: center;

    font-family: "Rubik Mono One", monospace;
}

.footer {
    height: 8%;
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rubik Mono One", monospace;
    font-size: 1.5rem;
}