
html, body {
    display: flex; 
    flex-direction: column;
    min-height: 100svh; 
    margin: 0; 
}

.navbar {
    height: auto;
    background-color: #ffff;
    transition: background-color 0.5s ease;

}


.navbar-background {
    background-color: #ffff;
    margin-top: 0;
}

.navbar-brand img {
    width: 30%;
    max-width: 100%;
    height: auto;
    margin: 1em;
}

.bg-light {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.navbar .scrolled {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);

}


.navbar-brand {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar > ul {
    margin: 0;
    text-decoration: none;
    list-style: none;
    
    display: flex;
    flex-direction: row;
}

.navbar > i{
    position: absolute;
    right: 0;
    margin-right: 8%;
    font-size: 2.5rem;
}

p {
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 1000px;
    margin: auto;
}

h5 {
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1em 0;
    padding: 0 5em 0 5em;
}

h4 {
    font-family: "Rubik Mono One", monospace;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1em 0;
}

ul > li, a {
    margin:0 4px;
    font-family: "Rubik Mono One", monospace;
    font-size: 1rem;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-nav .nav-item.active .nav-link {
    color: #056839;
}

.nav-link:hover {
    color: #056839;
}

.scrolled {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-bottom: #056839;
    border-width: 1px;
    border-style: solid;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;

}

.text-wrapper {
    height: auto;
    padding: 0 22em 0 22em;
}

.product-img-main {
    display: block;
    max-width: 600px;
    height: auto;
    width: 100%;
    margin-top: -2em;
}

.product-img-child {
    display: block;
    width: 100%;
    max-width: 800px;
    height: 500px;
    object-fit: cover;
    margin: 10em auto;
    border-radius: 10px;
}

.img {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 400px;
    object-fit: cover;
    margin: 6em auto;
    border-radius: 10px;

}


.profile-pic-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 2em auto;
    background-color: #056839;
}

.profile-pic {
    display: block;
    width: 100%;
    max-width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 2em auto;
    border-radius: 50%;
}

.stores-img {
    display: block;
    max-width: 400px;
    height: auto;
    width: 100%;
    margin-top: 2em;
}

.content {
    flex-grow: 1;
    display: grid;
    row-gap: 10em;
    place-content: center;
    text-align: center;
    margin-top: 15em;
    font-family: "Rubik Mono One", monospace;
    padding: 2em 2em 10em 2em;
}

.product-content {
    flex-grow: 1;
    display: grid;
    row-gap: 2em;
    place-content: center;
    text-align: center;
    margin-top: 5em;
    font-family: "Rubik Mono One", monospace;
    padding: 2em 2em 10em 2em;
}


a {
    text-decoration: none;
}

.btn-success {
    background-color: rgb(5, 104, 57);
    box-shadow: 2px 2px 16px rgba(5, 104, 57, 0.6);
    
}

.btn-success:hover {
    transform: scale(1.1);
    transition: all 0.2s;
    background-color: #044426;
}

.cta-btn {
    text-decoration: none;
    color: #ffff;
    padding: 1em 2em;
    font-family: "Rubik Mono One", monospace;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
}

.cta-btn:hover {
    background-color: #044426;
}

.cta-btn:active {
    transform: scale(0.9);
    transition: all 0.2s;
}

.footer {
    margin-top: auto; /* Push footer to the bottom */
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    color: #056839;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rubik Mono One", monospace;
    font-size: 1.5rem;
}


@media screen and (max-width: 768px) {
    .content {
        margin-top: 10em;
    }
    .product-img {
        max-width: 400px;
        margin-top: -5em;
    }
    
}

@media screen and (max-width: 1200px) {
    .product-img {
        max-width: 500px;
        margin-top: -4em;
    }
    
}